body,
html {
    width: 100%;
    height: 100%;
    background-color:
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.topnav {  /*barra del menu*/
    font-size: 14px;
    background-color: #2d2d2d;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {/*letras de programacion web*/
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #8080ff;
    background: url(../img/wood.jpg) no-repeat center center; 
    background-size: cover;
    background-attachment: fixed;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {/*linea verde*/
    width: 800px;
    border-top: 1px solid #008000;
    border-bottom: 1px solid rgba(0, 0, 255, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {/* areas grises*/
    padding: 50px 0;
    background-color: #c0c0c0;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 125px 0;
    color: #f8f8f8;
    background: url(../img/paving.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

body {
	position:relative;
}

.questions {
    margin-top: 100px;
    margin-bottom: 50px;
}

.panel-body {
    background-color: beige
}
.questions {
    width:100%
}

.follow {
    float: right;
    inline;

}

.video {
    margin-bottom: 50px;
}

.form-control {
    width: 40%;
}

.row {
    background-color: #8080ff;
    display: inline;
}
.row .banner-social-buttons {
    padding-right: 30px;
}

.learn-more {
    text-align: left;
    float: left;
}

.modal-button {
    float: right;

}
.modal-body {
    height: 500px;
}
#modalframe {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.follow {
    display: inline;
    float: left;
}

.table {
    margin:50px;
    width: 100%;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #808080;
}

.image {
    box-sizing:border-box;
    border:2px solid blue;
    width:200px;
    height:200px;
    margin:5px;
    display:inline-block;
    position:relative;
}
.info {
    display:inline-block;
    color:#fff;
    font-family:Futura;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:0.5em;
    line-height:1.6;
    position:absolute;
    top:15%;
    left:22%;
    text-align: center;
}
.proj-title {
    font-weight:100;
}

#map {
    height:100px;
    width: 100%;
}
